<!-- <h2>App Component</h2> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark position-sticky top-0">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-md-auto gap-2">
        <li class="nav-item rounded">
          <a
            class="nav-link mx-2"
            routerLink="/directive"
            routerLinkActive="active"
            aria-current="page"
            ><i class="bi bi-house-fill"></i>Directive</a
          >
        </li>
        <li class="nav-item dropdown rounded">
          <a
            class="nav-link mx-2 dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ><i class="bi bi-person-fill"></i>Advanced</a
          >
          <ul
            class="dropdown-menu dropdown-menu-end bg-dark"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a
                class="dropdown-item text-white"
                routerLink="/advanced/dom-sanitization"
                routerLinkActive="active"
                >Dom Sanitization</a
              >
            </li>
            <li>
              <a
                class="dropdown-item text-white"
                routerLink="/advanced/event-emitter"
                routerLinkActive="active"
                >Emit Event To Router Outlet</a
              >
            </li>
            <li>
              <a
                class="dropdown-item text-white"
                routerLink="/advanced/observables"
                routerLinkActive="active"
                >Observables</a
              >
            </li>
            <li>
              <a
                class="dropdown-item text-white"
                routerLink="/advanced/promises"
                routerLinkActive="active"
                >Promises</a
              >
            </li>
            <li>
              <a
                class="dropdown-item text-white"
                routerLink="/advanced/fork-join"
                routerLinkActive="active"
                >Forkjoin</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown rounded">
          <a
            class="nav-link mx-2 dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ><i class="bi bi-person-fill"></i>Routing</a
          >
          <ul
            class="dropdown-menu dropdown-menu-end bg-dark"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a
                class="dropdown-item text-white"
                routerLink="/routing/home"
                routerLinkActive="active"
                >Home</a
              >
            </li>
            <li>
              <a
                class="dropdown-item text-white"
                routerLink="/routing/about"
                routerLinkActive="active"
                >About</a
              >
            </li>
            <li>
              <a
                class="dropdown-item text-white"
                routerLink="/routing/contact"
                routerLinkActive="active"
                >Contact</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown rounded">
          <a
            class="nav-link mx-2 dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ><i class="bi bi-person-fill"></i>NgRx</a
          >
          <ul
            class="dropdown-menu dropdown-menu-end bg-dark"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a
                class="dropdown-item text-white"
                routerLink="/ngrx/counter"
                routerLinkActive="active"
                >Counter</a
              >
            </li>
            <li>
              <a
                class="dropdown-item text-white disabled"
                routerLink="/routing/home"
                routerLinkActive="active"
                >Test</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="vh-100 d-flex justify-content-center align-items-center bg-custom">
  <!-- <h2>Main Content</h2> -->
  <router-outlet></router-outlet>
</div>
<div class="bg-dark text-white position-fixed bottom-0 w-100">
  <p class="text-center p-4 m-0 footer-content">Footer Content</p>
</div>

<!-- <router-outlet></router-outlet> -->
